* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;

  justify-content: space-around;
  align-items: center;
  height: 8vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-color: beige;
}

.nt_list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}
.nt_list li a {
  text-decoration: none;
  color: black;
}
.nt_list li a:hover {
  font-size: 20px;
  background-color: rgb(243, 230, 212);
  border-radius: 20px;
}
a:hover {
}
.header_ogeler {
  width: 60%;
}
